<ion-content [fullscreen]="true">
  <div class="header-section">
    <p class="welcome-subtitle">Insira seus dados para acessar o app.</p>
    <h1 class="welcome-title">Bem-vindo de volta!</h1>
    <ion-icon name="logo-ionitron" class="main-logo"></ion-icon>
  </div>

  <div class="form-container">
    <ion-input
      type="email"
      name="email"
      id="email"
      label="E-mail"
      [(ngModel)]="email"
      label-placement="floating"
      fill="outline"
      class="custom-input"
    ></ion-input>

    <ion-input
      type="password"
      name="senha"
      id="senha"
      label="Senha"
      [(ngModel)]="senha"
      label-placement="floating"
      fill="outline"
      class="custom-input"
    ></ion-input>

    <div class="forgot-password">
      <a routerLink="/recuperar-senha" (click)="removerFocoAtual()"
        >Esqueci minha senha</a
      >
    </div>

    <ion-button expand="block" class="login-button" (click)="login()"
      >Entrar</ion-button
    >

    <div class="signup-link">
      <p>
        Ainda não tem uma conta?
        <a routerLink="/cadastro" (click)="removerFocoAtual()">Crie aqui</a>
      </p>
    </div>
  </div>
</ion-content>
