.calculator-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.visor-container {
  padding: 20px;
  text-align: right;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
}

.visor-history {
  color: #888;
  font-size: 1.2rem;
  min-height: 25px;
  margin-bottom: 5px;
}

.visor-main {
  color: white;
  font-size: 4rem;
  font-weight: bold;
}

ion-grid {
  padding: 0;
}

ion-col {
  padding: 2px;
}

.teclado ion-button {
  height: 70px;
  margin: 0;
  font-size: 1.5rem;
  --box-shadow: none;
}
